<div class="">
    <div class="page-title">
        <div class="title_left">
            <img src="@Url.Content("~/Images/form-datos.png")" alt="" class="pull-left" style="width:48px; height:48px;">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <i class="fa fa-edit small icon-rojo"></i><h3>@ViewBag.SubTitle</h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a onclick="MostrarFuncion(null)" role="button" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Agregar Nuevo"><i class="fa fa-plus-square"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="well">
                        <form id="frmConsulta" data-parsley-validate>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <label class="control-label" for="txtId">Id</label>
                                    <input type="text" name="txtId" id="txtId" class="form-control" maxlength="18" data-parsley-maxlength="18" data-parsley-maxlength-message="Ingrese un número Id válido.">
                                </div>
                                <div class="form-group col-md-5">
                                    <label class="control-label" for="txtNombre">Nombre</label>
                                    <input type="text" name="txtNombre" id="txtNombre" class="form-control" maxlength="55" data-parsley-maxlength="55" data-parsley-maxlength-message="Ingrese Nombre válido.">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="txtDescripcion">Descripción</label>
                                    <input type="text" name="txtDescripcion" id="txtDescripcion" class="form-control" maxlength="255" data-parsley-maxlength="255" data-parsley-maxlength-message="Ingrese Descripción válido.">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <label class="control-label" for="txtOrden">Orden</label>
                                    <input type="text" name="txtOrden" id="txtOrden" class="form-control" maxlength="18" data-parsley-maxlength="18" data-parsley-maxlength-message="Ingrese un Número de Ordenválido.">
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label" for="selPadre">Padre</label>
                                    <select class="select2_single form-control" name="selPadre" id="selPadre"></select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label" for="selSistema">Sistema</label>
                                    <select class="select2_single form-control" name="selSistema" id="selSistema" disabled="disabled"></select>
                                </div>
                            </div>
                            <div class="divider-dashed"></div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-success" name="btnConsultar" id="btnConsultar" onclick="Consultar(event)"><i class="fa fa-search"></i> Consultar</button>
                                    <button type="submit" class="btn btn-default" name="btnLimpiar" id="btnLimpiar" onclick="Limpiar(event)"><i class="fa fa-trash"></i> Limpiar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblFuncion" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Orden</th>
                                        <th>Padre</th>
                                        <th>Sistema</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modNuevo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span style="vertical-align:middle;">Agregar Nueva Función</span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" novalidate>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtNId">Id <span class="required">*</span></label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <input type="text" id="txtNId" name="txtNId" readonly="readonly" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtNNombre">Nombre</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" id="txtNNombre" name="txtNNombre" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtNDescripcion">Descripción</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" id="txtNDescripcion" name="txtNDescripcion" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="txtNOrden">Orden</label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <input type="text" id="txtNOrden" name="txtNOrden" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selNPadre">Padre</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <select id="selNPadre" name="selNPadre" required="required" class="select2_single form-control"></select>
                        </div>
                    </div>                   
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="selNSistema">Sistema</label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <select id="selNSistema" name="selNSistema" required="required" class="select2_single form-control" disabled="disabled"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-right">
                <a role="button" class="btn btn-success" onclick="Agregar()"><i class="fa fa-check"></i> Aceptar</a>
                <a role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modAplicacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span style="vertical-align:middle;">Asignar Aplicación <small><span id="lblFuncion" class="icon-rojo"></span></small></span></h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <form id="frmConsulta" data-parsley-validate>
                        <div class="row row-eq-height">
                            <div class="form-group col-md-9">
                                <label class="control-label" for="selAplicacion">Aplicacion</label>
                                <select class="select2_single form-control" name="selAplicacion" id="selAplicacion"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-success row-fix-button" name="btnAgregarAplicacion" id="btnAgregarAplicacion" onclick="AgregarAplicacion(event)"><i class="fa fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                        <input type="hidden" id="hddFuncion" name="hddFuncion" value="" />
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblAplicacion" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Orden</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-right">
                <a role="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</a>
            </div>
        </div>
    </div>
</div>



@section ViewContent {
    @Styles.Render("~/Scripts/vendors/select2/dist/css/select2.min.css")
}
@section ViewScripts {
    @Scripts.Render("~/Scripts/vendors/select2/dist/js/select2.full.min.js")
    @Scripts.Render("~/Scripts/vendors/select2/dist/js/i18n/es.js")
    @Scripts.Render("~/Scripts/vendors/parsleyjs/dist/parsley.js")
    @Scripts.Render("~/Scripts/vendors/parsleyjs/dist/i18n/es.js")
    @Scripts.Render("~/Scripts/moment/moment.min.js")
    @Scripts.Render("~/Scripts/moment/locale/es.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")
    @Scripts.Render("~/Scripts/vendors/datatables.net-scroller/js/datatables.scroller.min.js")
    @Scripts.Render("~/Scripts/bata.app.funcion.js")
}
