@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Bata Report App</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/lock-favicon.png")" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800|Roboto:300,400,400i,700,900" />
    @Styles.Render("~/Scripts/vendors/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/Scripts/vendors/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Scripts/vendors/pnotify/dist/pnotify.css")
    @Styles.Render("~/Scripts/vendors/pnotify/dist/pnotify.buttons.css")
    @Styles.Render("~/Scripts/vendors/pnotify/dist/pnotify.nonblock.css")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/bata.app.style.css")
</head>
<body style="background:#F7F7F7;">
    <div id="pageWrapper" class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper" class="mod_wrapper">
            <div id="login" class="form">
                <div style="text-align:center;">
                    <img src="@Url.Content("~/Images/bata-report-app.png")" alt="Bata Report App" width="150" height="150">
                </div>
                <section class="login_content">
                    <form id="frmLogin" method="post" data-parsley-validate>
                        <h1>Iniciar Sesión</h1>
                        <div>
                            <input name="txtUsuario" id="txtUsuario" type="text" class="form-control" placeholder="Usuario" data-parsley-maxlength="255" data-parsley-maxlength-message="Ingresar un nombre de usuario valido" required="required" />
                        </div>
                        <div>
                            <input name="txtContrasena" id="txtContrasena" type="password" class="form-control" placeholder="Contraseña" data-parsley-maxlength="255" data-parsley-maxlength-message="Ingresar una contraseña valida" required="required" />
                        </div>
                        <div>
                            <input id="btnEnviar" type="submit" class="btn btn-default submit" onclick="Login(event)" value="Iniciar sesión" />
                            <a class="reset_pass" href="#">¿Recordar contraseña?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><img src="@Url.Content("~/Images/bata-46x46.png")" width=46 height=46 alt="Bata Perú">&nbsp;&nbsp;Bata Report App</h1>
                                <p>Área de Sistemas - Bata Perú - &copy; @DateTime.Now.Year</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    @Html.Partial("_GlobalJsPartial")
    @Scripts.Render("~/Scripts/vendors/jquery/dist/jquery.min.js")
    @Scripts.Render("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")
    @*@Scripts.Render("~/Scripts/vendors/fastclick/lib/fastclick.js")*@
    @Scripts.Render("~/Scripts/vendors/pnotify/dist/pnotify.js")
    @Scripts.Render("~/Scripts/vendors/pnotify/dist/pnotify.nonblock.js")
    @Scripts.Render("~/Scripts/vendors/pnotify/dist/pnotify.buttons.js")
    @Scripts.Render("~/Scripts/vendors/pnotify/dist/pnotify.callbacks.js")
    @Scripts.Render("~/Scripts/vendors/parsleyjs/dist/parsley.min.js")
    @Scripts.Render("~/Scripts/vendors/parsleyjs/dist/i18n/es.js")
    @Scripts.Render("~/Scripts/bata.app.util.js")
    @Scripts.Render("~/Scripts/bata.app.login.js")
</body>
</html>